
<div class="row">
  <div class="col-md-8 col-md-offset-2">
      
          <% @invitations.each do |inv| %>
            <div class="well">
            
              <h3>Invitation from: <%= inv.invitations.last.added_by %></h3>
              <div class="form-group">
                <label>Restaurant: <%= inv.restaurant.name %></label>
              </div>
            <div class="form-group">
              <label>Date: <%= inv.start_date.strftime("%Y-%m-%d %H:%M") %></label>
              </div>
            <div class="form-group">
              <label>Duration: <%= inv.duration.strftime("%H:%M") %></label>
            </div>
            <div class="form-group">
              <label>Table seats: <%= inv.table.capacity %></label>
          </div>
            <div class="form-group">
              <label>People who are going: </label>
              <ul>
                <% inv.invitations.each do |p| %>
                <% if p.accepted == true %>
                  <li><%= p.user.firstname %>   <%= p.user.lastname %></li>
                <% end %>
                <% end %> 
              </ul>
            </div>
              

              <button data-id="<%= inv.invitations.find_by_user_id(current_user.id).id %>" class="btn btn-success accept_invite" id="configuration">Accept</button>
            <button data-id="<%= inv.invitations.find_by_user_id(current_user.id).id %>" class="btn btn-success decline_invite" id="configuration">Decline</button>

          </div>
          <% end %>
       
  </div>
</div>