<div class="row">
  <div class="col-md-8 col-md-offset-2">
      
            <div class="well">
            
              <h3>Rate your visit</h3>
              
              <div class="form-group">
                <label>Restaurant: <%= @visit.restaurant.name %></label>
              </div>
            <div class="form-group">
              <label>Date: <%= @visit.start_date.strftime("%Y-%m-%d %H:%M") %></label>
              </div>
            <div class="form-group">
              <label>Duration: <%= @visit.duration.strftime("%H:%M") %></label>
            </div>
            <div class="form-group">
              <label>Table seats: <%= @visit.table.capacity %></label>
          </div>
              <label>Rate</label>
       
              
              <script>
                $('#rating').rating();
              </script>

              <button data-id="<%= @visit.invitations.find_by_user_id(current_user.id).id %>" class="btn btn-success" id="save_rating">Save</button>
            

          </div>
       
  </div>
</div>